@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* hero background image */
.hero-image {
    height:100vh;
    background: url("images/IMG_0661.JPG");
    background-size:cover;

    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    font-family: Poppins, sans-serif;
    color: #25242e;
}
.hero_desc {
    font-size: 2rem;
    color: #383749;
    background-color: transparent;
}
.form-box{
    position:relative;
    width: 800px;
    height: 200px;
    background: transparent;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(4.5px);
    display: flex;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Poppins, sans-serif;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}
/* services section css */
.servicesText.card {
    height: 335px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
    font-family: Poppins, sans-serif;
}
.card-title {
    text-align: center;
    font-family: Poppins, sans-serif;
}
.card:hover .servicesIcon {
    color: #414141;
}
.servicesText:hover {
    border: 1px solid #414141;
}
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
    transition: .4s;
}
/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: white;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}
/* spacing on all sections */
#about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}
.container{
    font-family: Poppins, sans-serif;
}
.navbar-brand{
    color: #54516d;
}
.contact-info{
    color: #000000;
    text-align: left;
    padding-left: 2cm;
}
.text-center{
    text-decoration: underline;
}
.contactbutt{
    text-decoration: none;
    color: white;
    
}