@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
#gallery {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
 }
 #gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
    filter: grayscale(100%);
    transition: filter 5s;

 }
 #gallery img:hover {
    filter:none;
 }
 @media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }
 @media (max-width: 1000px) {
    #gallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }
 @media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }
 @media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
#gallery {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
 }
 #gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
    filter: grayscale(100%);
    transition: filter .5s;

 }
 #gallery img:hover {
    filter:none;
 }
 @media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }
 @media (max-width: 1000px) {
    #gallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }
 @media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }
 @media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }
 header {
    text-align: center;
  }
  
  header img {
    max-width: 100%;
    height: auto;
  }
p{
   font-family: Poppins, sans-serif;
}

.navbar-brand{
   color: white;
}
.container{
   font-family: Poppins, sans-serif;
}
.navbarScroll.navbarDark {
   background-color: rgb(39, 39, 39);
   transition: .4s;
}
.bgimage {
   height:100vh;
   background: url('images/gallerybg.jpg');
   background-size:cover;
   position:relative;

}
.hero_title {
   font-size: 4.5rem;
   font-family: Poppins, sans-serif;
   color: rgb(139, 139, 137);
}
.hero_desc {
   font-size: 2rem;
   color: white;
   background-color: transparent;
   
}
.form-box{
   position: absolute;
   width: 800px;
   height: 200px;
   background: transparent;
   border: none;
   backdrop-filter: blur(4.5px);
   border-radius: 20px;
   display: flex;

   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
.hero-text {
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   font-family: Poppins, sans-serif;
}
p2{
   font-family: Poppins,sans-serif;
   size: 1.5rem;
   color: white;
   background-color: transparent;
}
.caption{
   font-family: Poppins, sans-serif;
   font-style: italic;
   font-size: small;
}
